<h1>Войти</h1>

<%= bootstrap_form_for(:session, url: sessions_path, layout: :horizontal) do |f| %>

      <%= f.text_field :email %>

      

  <%= f.form_group do %>
      <%= f.submit "Войти", class: "btn btn-large btn-primary" %>
  <% end %>

    <%= f.form_group do %>
       <p>Впервые на сайте? <%= link_to "Зарегистрироваться!", signup_path %></p>
  <% end %>
<% end %>

    