<table class="table table-condensed">   
  <thead>
    <tr>
      <td class="col-sm-2">Дата</td>
      <td class="col-sm-4">Название</td>
      <td class="col-sm-3">Место проведения</td>
      <td class="col-sm-2">Ответсвенный за проведение</td>
      <td class="col-sm-1">Участники</td>
    </tr>
  </thead>

  <% object.each do |event| %>
  <tr>
    <td><%= event.date %></td>
    <td><%= link_to event.title, event_path(event) %></td>
    <td><%= event.location %></td>
    <td><%= link_to event.creator.name, user_path(event.creator) %></td>

    <td class="text-center"><%= link_to event.attendees.count, event_path(event) %></td>
  </tr>
      <%=  event.attendees.count %>
  <% end %>   
</table>

