<div class="row">
	<div class="span9">
		<h1 class="page_title" style="text-align:center">Bloggin' It</h1>
		<%= link_to 'New Post', new_post_path %>
		<% @posts.each do |post| %>
			<div class="row">
				<div class="span9">
					<div class="post" id="<%= dom_id(post) %>">
						<h2 class="post_title"><%= post.title %></h2>
						<div class="post_body">
							<%= post.body.slice(0,500).html_safe + 
									(post.body.length > 500 ? '...' : '') %>
						</div>
						<%= link_to 'Read more', post_path(post) %><br>
					</div>
				</div>
			</div>
		<% end %>
	</div>

</div>